<form method="post" action="{{ path('app_trainingplan_delete', {'id': trainingplan.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trainingplan.id) }}">
    <button class="btn">Delete</button>
</form>
