{% extends 'base.html.twig' %}

{% block title %}Edit Trainingplan{% endblock %}

{% block body %}
    <h1>Edit Trainingplan</h1>

    {{ include('trainingplan/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_trainingplan_index') }}">back to list</a>

    {{ include('trainingplan/_delete_form.html.twig') }}
{% endblock %}
