{% extends 'base.html.twig' %}

{% block title %}New Trainingplan{% endblock %}

{% block body %}
    <h1>Create new Trainingplan</h1>

    {{ include('trainingplan/_form.html.twig') }}

    <a href="{{ path('app_trainingplan_index') }}">back to list</a>
{% endblock %}
